.content {
    display: grid;
    grid-template: 80px 1fr / 1fr 250px 250px;
    align-items: center;
}

.content > div {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text);
}

.sort {
    margin: 0px 70px 80px 70px;
    background-color: var(--dark-background);
    border-radius: 20px;
}

.bar {
    background-color: gray;
    flex: 0 1 100px;
    height: 100%;
}

section {
    padding: 30px;
    display: flex;
    align-items: flex-end;
    grid-column: 1 / span 3;
    align-self: stretch;
}