button {
    width: 150px;
    height: 60px;
    border-radius: 10px;
    font-size: 1.9rem;
    font-weight: 700;
    transition: filter .1s;
    border: none;
}

button.active {
    cursor: pointer;
}

button:not(.active) {
    filter: brightness(75%);
}

button.active:hover {
    filter: brightness(110%);
}

.red {
    background-color: var(--red);
}

.yellow {
    background-color: var(--yellow);
}