.settings {
    display: grid;
    width: 100%;
    grid-auto-rows: auto 40px;
    justify-items: center;
}

.settings:not(.active) > *:not(:has([name="Speed"])) {
    pointer-events: none;
    filter: brightness(75%);
}